@import url("http://fnt.webink.com/wfs/webink.css/?project=2DF6DF7F-2365-44F8-AEF4-64C8FDEB7C24&fonts=A319027C-12AA-B925-80E0-038136541C31:f=CombPro-Light,7CF1284D-F3EF-E035-FE6B-63B75AB57257:f=CombPro-Thin,03618CE0-596B-B955-66D6-851FD65884E8:f=CombPro-Normal");
/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/img-positions/_one.scss */
.one {
  top: 315px;
  left: 10%;
}

/* line 11, ../sass/img-positions/_one.scss */
.two {
  top: 430px;
  left: 50%;
}

/* line 19, ../sass/img-positions/_one.scss */
.three {
  top: 650px;
  left: 20%;
}

/* line 27, ../sass/img-positions/_one.scss */
.four {
  top: 860px;
  left: 15%;
}

/* line 35, ../sass/img-positions/_one.scss */
.five {
  top: 980px;
  left: 60%;
}

/* line 43, ../sass/img-positions/_one.scss */
.six {
  top: 1080px;
  left: 40%;
}

/* line 54, ../sass/styles.scss */
.container {
  position: relative;
  top: 0px;
  left: 0px;
}

/* line 62, ../sass/styles.scss */
.logo {
  position: fixed;
  z-index: 4000;
  left: 5%;
  top: 220px;
  background-image: url("../img/low-res/logo.png");
  background-image: url("../img/logo.svg"), none;
  width: 56px;
  height: 19px;
  text-indent: 3000px;
  overflow: hidden;
}

/* line 77, ../sass/styles.scss */
a {
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 84, ../sass/styles.scss */
nav {
  font-family: "CombPro-normal", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  right: 2%;
  top: 0px;
  z-index: 4000;
  background-color: white;
  padding: 13px 12px 13px 15px;
  letter-spacing: 0.5px;
  font-size: 13px;
}
/* line 94, ../sass/styles.scss */
nav li {
  font-family: "CombPro-normal", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  display: inline;
  margin-right: 12px;
}
/* line 98, ../sass/styles.scss */
nav li a {
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: solid 1px #fff;
}
/* line 103, ../sass/styles.scss */
nav li a:hover {
  border-bottom: solid 1px #e5cd65;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #d6ba4f;
  padding-bottom: 3px;
}
/* line 110, ../sass/styles.scss */
nav li:after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 114, ../sass/styles.scss */
nav li:last-child {
  margin-right: 0px;
}
/* line 116, ../sass/styles.scss */
nav li:last-child:after {
  content: "";
}

/* line 125, ../sass/styles.scss */
div.images {
  position: absolute;
  z-index: 100;
}
/* line 128, ../sass/styles.scss */
div.images:hover {
  z-index: 200;
}

/* line 133, ../sass/styles.scss */
.content {
  background: #fff;
  position: absolute;
  width: 720px;
  margin-top: 100px;
  left: 100px;
}

/* line 142, ../sass/styles.scss */
.fullscreen {
  padding-bottom: 200px;
}

/* line 146, ../sass/styles.scss */
.content ul li {
  position: relative;
  display: block;
  right: 0px;
  left: 0px;
  width: 720px;
  margin-bottom: 20px;
}
/* line 153, ../sass/styles.scss */
.content ul li:last-child {
  margin-bottom: 100px;
}
/* line 156, ../sass/styles.scss */
.content ul li img {
  width: 720px;
}

/* line 169, ../sass/styles.scss */
h1, h2, h3, h4 {
  font-family: "CombPro-normal", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

/* line 175, ../sass/styles.scss */
p {
  font-family: "CombPro-normal", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

/* line 179, ../sass/styles.scss */
a {
  font-family: "CombPro-normal", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

/* line 184, ../sass/styles.scss */
#guts p {
  font-family: "Swiss-721","Helvetica-Neue", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 2px;
  line-height: 32px;
  width: 690px;
  margin-top: 80px;
  margin-bottom: 60px;
}

/* line 200, ../sass/styles.scss */
.imglink {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  background: #ffffff;
  top: 0px;
  left: 0px;
  padding: 12px 10px 12px 10px;
  opacity: 0;
}

/* line 211, ../sass/styles.scss */
.active {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: none;
}

/* line 220, ../sass/styles.scss */
.close {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  z-index: 5001;
  width: 36px;
  height: 36px;
  background-image: url("../img/low-res/close.png");
  background-image: url("../img/close.svg"), none;
}
/* line 231, ../sass/styles.scss */
.close:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-position: 0px -37px;
  background-image: url("../img/low-res/close.png");
  background-image: url("../img/close.svg"), none;
}
/* line 237, ../sass/styles.scss */
.close:hover:after {
  opacity: 1;
}

/* line 242, ../sass/styles.scss */
.fullscreen {
  width: 100%;
  min-height: 100%;
  height: auto;
  background: red;
  z-index: 1000;
}
/* line 248, ../sass/styles.scss */
.fullscreen.active {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  height: auto;
  background: aqua;
  z-index: 3000;
}

/* line 260, ../sass/styles.scss */
.nextandprev {
  top: 30px;
  left: 20px;
  position: absolute;
  z-index: 9999;
}

/* line 274, ../sass/styles.scss */
#aqua {
  background-color: aqua;
  font-family: sans-serif;
}

/* line 279, ../sass/styles.scss */
li {
  list-style: none;
  width: 100px;
  margin-bottom: 30px;
  display: inline-block;
}
/* line 284, ../sass/styles.scss */
li a {
  padding: 5px;
}

/* line 289, ../sass/styles.scss */
a.active {
  color: #d6ba4f;
}
