// - - - - - - - - - - - - - Imports Styles - - - - - - - - - - - - - - - - //

// Fonts & Shit
@import url("http://fnt.webink.com/wfs/webink.css/?project=2DF6DF7F-2365-44F8-AEF4-64C8FDEB7C24&fonts=A319027C-12AA-B925-80E0-038136541C31:f=CombPro-Light,7CF1284D-F3EF-E035-FE6B-63B75AB57257:f=CombPro-Thin,03618CE0-596B-B955-66D6-851FD65884E8:f=CombPro-Normal");

// Compass
@import "compass/reset";
@import "compass/css3/transition";
@import "variables";

// Other stylesheets
@import "type";

// @import "img-positions/_one.scss";

// - - - - - - - - - - - - - Mixins Styles - - - - - - - - - - - - - - - - //

@mixin monospace {
  font-family: $monospace;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

// Image hover mixin
@mixin sprite {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
}


@mixin sprite-hover {
  opacity: 1;
}

// - - - - - - - - - - - - - Global Styles - - - - - - - - - - - - - - - - //

// Body & Wrap

body {
  width: 100%;
  min-height: 9000px;
  &.overlay {
    height: 100%;
    overflow: hidden;
  }
}

// Logo

.logo {
  position: fixed;
  z-index: 500;
  left: 5%;
  top: 220px;
  background-image: url("../img/low-res/logo.png");
  background-image: url("../img/logo.svg"), none;
  width: 56px;
  height: 19px;
  text-indent: 3000px;
  overflow: hidden;
}

// Links

a {
  color: $black;
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}

// Navigation

nav {
  position: fixed;
  z-index: 300;
  right: 0px;
}

#pages {
  display: none;
}

.nextandprev {
  display: none;
  top: 118px;
  left: 810px;
  position: absolute;
  z-index: 9999;
  &.footer {
    top: 1000px;
  }
  &.active {
    display: block;
  }
}

.next-button {
  padding-right: 20px;
  &:after {
    // content: " ";
  }
}

nav {
  @include monospace;
  background-color: white;
  padding: 13px 12px 13px 15px;
  letter-spacing: 0.5px;
  font-size: 13px;
  li {
    @include monospace;
    display: inline;
    margin-right: 12px;
    a {
      color: $black;
      text-decoration: none;
      @include transition(all 0.3s ease-in-out);
      border-bottom: solid 1px #fff;
      padding: 0px;
      margin: 6px;
      &:hover {
        border-bottom: solid 1px #e5cd65;
        @include transition(all 0.3s ease-in-out);
        color: #d6ba4f;
        padding-bottom: 3px;
      }
    }
    &:after {
      @include transition(all 0.3s ease-in-out);
    }
    &:last-child {
      margin-right: 0px;
      &:after {
        content: "";
      }
    }
  }
}

// images

div.images {
  position: absolute;
  z-index: 100;
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    -webkit-transform: scale(1);
    @include transition(transform 0.3s ease-in-out);

  &:hover {
    z-index: 200;
  }
}

.content {
  background: #fff;
  position: absolute;
  width: 800px;
  margin-top: 100px;
  left: 100px;
  padding-left: 20px;
  opacity: 0;

  &.active {
    opacity: 1;
  }
  h1 {
    margin-top: 20px;
  }
}

.content.chair {
  height: 4230px;
}

.content.table {
  height: 3780px;
}

.content.watch {
  height: 3878px;
}

.content.glasses {
  height: 3695px;
}

.content.lamp {
  height: 3300px;
}

.content.family {
  height: 2200px;
}




.content {
  ul {
    li {
      position: relative;
      display: block;
      right: 0px;
      left: 0px;
      width: 800px;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 100px;
      }
      img {
        width: 800px;
      }
    }
  }
}

.home-images {
  .collection {
    position: absolute;
    margin-top: 220px;
    margin-left: 15%;
    .imglink {
   
    }
    .collection.active {
      display: block;
    }
    p {
      border-top: solid 1px white;
      margin-top: -1px;
    }
    .images {
      display: inline-block;
      clear: left;
      position: relative;
      margin-bottom: 30px;
      float: left;
      &:last-child {
        margin-bottom: 300px;
        display: inline-block;
      }
      img {
        display: block;
      }
    }
  }
}

// - - - - - - - - - - - - - – - Colour – - - - - - - - - - - - - - - - - //

// - - - - - - - - - - - - - – Typogrpahy – - - - - - - - - - - - - - - - - //

// Headers

h1, h2, h3, h4 {
  @include monospace;
}

// Paragraphs

p {
  @include monospace;

@media all and (max-width: 1400px) {



}


}

a {
  @include monospace;
}

#page-content {
  display: none;
  &.active {
    display: block;
  }
}

#product-content {
  display: none;
  &.active {
    display: block;
  }
}

.content.active {
  border-bottom: solid 500px #e4e4e4;
  p {
    font-family: "Swiss-721","Helvetica-Neue", helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 2px;
    line-height: 34px;
    width: 780px;
    margin-top: 80px;
    margin-bottom: 60px;
  }
}

// List

// Image links
.imglink {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  background: #ffffff;
  top: 0px;
  left: 0px;
  padding: 12px 10px 12px 10px;
  opacity: 0;
  z-index: 200;
  &.active {
    opacity: 1;
    @include transition(all 0.3s ease-in-out);
    border-bottom: none;
    z-index: 200;
  }
}

// - - - - - - - - - - - - - Overlay Styles - - - - - - - - - - - - - - - - //

// Checkout mixins for the rest
.close {
  @include sprite;
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  z-index: 5001;
  width: 36px;
  height: 36px;
  background-image: url("../img/low-res/close.png");
  background-image: url("../img/close.svg"), none;
  &.active {

    transition: all 0.5s ease;
    display: block;

 
  }
  &:hover {
 
  }
  &:after {
    background-position: 0px -36px;
    background-image: url("../img/low-res/close.png");
    background-image: url("../img/close.svg"), none;
  }
  &:hover:after {
    @include sprite-hover;
    background-position: 0px -36px;
    background-color: #e4e4e4;
  }
}

.fullscreen {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: 0;
  display: block;
  opacity: 0;
  &.active {
    display: block;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    height: auto;
    background: #e4e4e4;
    z-index: 4000;
    padding-bottom: 200px;
    overflow-y: scroll;
  }
  &.show {
    opacity: 1;
  }
}

.welcome-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  height: auto;
  z-index: 499;
  opacity: 1;
  background-color: #fff;


  a {
    border-bottom: solid 1px #000;
    padding-bottom: 4px;

    &:hover {
      color: #d6ba4f;
      border-bottom: solid 1px #d6ba4f;
    }
  }
}

.inside-images {
  padding-bottom: 200px;
  img {
    margin-bottom: 18px;
  }
}


.text {
  width: 430px;
  position: fixed;
  left: 15%;
  top: 216px;


@media all and (max-width: 550px) {

 width: auto;
  position: absolute;
  left: 5%;
  top: 316px;

}  

  p {
    line-height: 18px;
    margin-bottom: 30px;
    text-transform: none;
  }

ul {

li {

  @include monospace;
  display: block;
  width:auto;
margin-bottom:10px;

letter-spacing: 0.5px;

a { 
  padding: 0px;
  padding-bottom: 0px;
  letter-spacing: 1px;

 @include transition(all 0.3s ease-in-out);

   &:hover {
      color: #d6ba4f;
      border-bottom: solid 1px #d6ba4f;
      padding-bottom: px;
       @include transition(all 0.3s ease-in-out);

    }

}

}

}


}


// - - - - - - - - - - - - - Fixes & Classes - - - - - - - - - - - - - - - - //

li {
  list-style: none;
  width: 100px;
  margin-bottom: 30px;
  display: inline-block;
  a {
    padding: 5px;
  }
}

a.active {
  color: #d6ba4f;
}

.project_bottom {
  clear: both;
  height: 60px;
  margin: 0 0 -120px 0;
}

// - - - - - - - - - - - - - Media queries - - - - - - - - - - - - - - - - //

@media all and (max-width: 1300px) {


.collection {

.top-change { 
  top: -250px;
}

.lamp { 
  top: -250px;
}

.chair { 
  top: -552px;
}

.table { 
  top: -768px;
}

.watch { 
  top: -1026px;
}

.glasses { 
  top: -1327px;
}



}

  body {
      // min-height: 7000px;
 
  }
  .home-images {
    .images {
      -webkit-transform-origin-x: 0;
      -webkit-transform-origin-y: 0;
      -webkit-transform: scale(0.7);
      @include transition(transform 0.3s ease-in-out);
    }
    p {
      font-size: 19px;

    }



  }

.imglink {   padding: 16px 14px 17px 14px; }


}


.text {

font-size:13px;

}

.npfooter {
  position: absolute;
  left: 810px;
  z-index: 9999;
  display: none;
  &.active {
    display: block;
  }


}

.share {
  position:absolute;
  left: 20px;
  bottom: 16px;
}

.purchasing { margin-left:20px;}


a:hover {
  color: #d6ba4f;
}

.images {

  a:hover {
  color: #000;
}

}






