/* line 3, ../../sass/img-positions/4.scss */
.one {
  margin-top: 800px;
  left: 50%;
}

/* line 10, ../../sass/img-positions/4.scss */
.two {
  margin-top: 500px;
  left: 80%;
}

/* line 18, ../../sass/img-positions/4.scss */
.three {
  margin-top: 1400px;
  left: 60%;
}

/* line 25, ../../sass/img-positions/4.scss */
.four {
  margin-top: 2000px;
  left: 0%;
}

/* line 32, ../../sass/img-positions/4.scss */
.five {
  margin-top: 2800px;
  left: 40%;
}
