/* line 4, ../../sass/img-positions/4.scss */
.home-images img {
  display: none;
}
/* line 8, ../../sass/img-positions/4.scss */
.home-images .table-2 img, .home-images .table-5 img, .home-images .chair-1 img, .home-images .glasses-3 img, .home-images .watch-4 img, .home-images .lamp-4 img, .home-images .collection-4 img, .home-images .chair-5 img, .home-images .table-4 img {
  display: block;
}

/* line 14, ../../sass/img-positions/4.scss */
.table-2 {
  left: 0%;
}

/* line 18, ../../sass/img-positions/4.scss */
.table-5 {
  right: 0%;
  top: 900px;
}

/* line 23, ../../sass/img-positions/4.scss */
.chair-1 {
  left: 25%;
  top: 1600px;
}

/* line 28, ../../sass/img-positions/4.scss */
.glasses-3 {
  left: 15%;
  top: 2600px;
}

/* line 33, ../../sass/img-positions/4.scss */
.watch-4 {
  left: 40%;
  top: 3400px;
}

/* line 39, ../../sass/img-positions/4.scss */
.lamp-4 {
  left: 15%;
  top: 4500px;
}

/* line 46, ../../sass/img-positions/4.scss */
.collection-4 {
  left: 0%;
  top: 5000px;
}

/* line 51, ../../sass/img-positions/4.scss */
.chair-5 {
  left: 55%;
  top: 5600px;
}

/* line 56, ../../sass/img-positions/4.scss */
.table-4 {
  left: 15%;
  top: 7200px;
}

@media all and (max-width: 1300px) {
  /* line 66, ../../sass/img-positions/4.scss */
  .table-2 {
    left: 0%;
  }

  /* line 70, ../../sass/img-positions/4.scss */
  .table-5 {
    right: -20%;
    top: 700px;
  }

  /* line 75, ../../sass/img-positions/4.scss */
  .chair-1 {
    left: 25%;
    top: 1400px;
  }

  /* line 80, ../../sass/img-positions/4.scss */
  .glasses-3 {
    left: 15%;
    top: 2200px;
  }

  /* line 85, ../../sass/img-positions/4.scss */
  .watch-4 {
    left: 40%;
    top: 2900px;
  }

  /* line 91, ../../sass/img-positions/4.scss */
  .lamp-4 {
    left: 15%;
    top: 3600px;
  }

  /* line 98, ../../sass/img-positions/4.scss */
  .collection-4 {
    left: 0%;
    top: 3900px;
  }

  /* line 103, ../../sass/img-positions/4.scss */
  .chair-5 {
    left: 55%;
    top: 4600px;
  }

  /* line 108, ../../sass/img-positions/4.scss */
  .table-4 {
    left: 15%;
    top: 5600px;
  }

  /* line 114, ../../sass/img-positions/4.scss */
  body.home {
    height: 7000px;
  }
}
