@import url("http://fnt.webink.com/wfs/webink.css/?project=2DF6DF7F-2365-44F8-AEF4-64C8FDEB7C24&fonts=A319027C-12AA-B925-80E0-038136541C31:f=CombPro-Light,7CF1284D-F3EF-E035-FE6B-63B75AB57257:f=CombPro-Thin,03618CE0-596B-B955-66D6-851FD65884E8:f=CombPro-Normal");
/* line 17, ../../sass/img-positions/mobile.scss */
* {
  -webkit-transition: none;
  outline: none;
  border: none;
  -webkit-font-smoothing: antialiased;
}

/* line 27, ../../sass/img-positions/mobile.scss */
body.home, body.collection {
  float: left;
  height: auto;
  margin: 0 5% 10% 5%;
}
/* line 33, ../../sass/img-positions/mobile.scss */
body.collection .imglink {
  border-bottom: none;
  z-index: 200;
  position: absolute;
  background: #ffffff;
  top: -13px;
  left: 0px;
  padding: 10px 10px 10px 10px;
  opacity: 1;
  z-index: 200;
  display: block;
}
/* line 46, ../../sass/img-positions/mobile.scss */
body.overlay {
  background: #e2e2e2;
}

/* line 51, ../../sass/img-positions/mobile.scss */
header {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  z-index: 200;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 42px;
  padding: 10px 5% 10px 5%;
}

/* line 62, ../../sass/img-positions/mobile.scss */
a {
  font-family: "CombPro-normal", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
  font-size: 13px;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  color: #000;
  text-decoration: none;
}

/* line 69, ../../sass/img-positions/mobile.scss */
ul li {
  list-style: none;
}

/* line 74, ../../sass/img-positions/mobile.scss */
.fullscreen {
  display: none;
}
/* line 76, ../../sass/img-positions/mobile.scss */
.fullscreen.active {
  display: block;
}

/* line 81, ../../sass/img-positions/mobile.scss */
.wrapper {
  float: left;
}

/* line 85, ../../sass/img-positions/mobile.scss */
#guts {
  display: block;
  position: absolute;
  width: 90%;
  margin-top: 20%;
}

/* line 92, ../../sass/img-positions/mobile.scss */
.content {
  background: #fff;
  position: relative;
  width: 97%;
  margin-top: 50px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 20px;
  opacity: 0;
}
/* line 101, ../../sass/img-positions/mobile.scss */
.content.active {
  opacity: 1;
  border-bottom: solid 100px #e2e2e2;
}
/* line 105, ../../sass/img-positions/mobile.scss */
.content p {
  font-family: "Swiss-721","Helvetica-Neue", helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  line-height: 30px;
  width: 97%;
  margin-top: 60px;
  margin-bottom: 60px;
}
/* line 116, ../../sass/img-positions/mobile.scss */
.content h1 {
  margin-top: 20px;
}
/* line 119, ../../sass/img-positions/mobile.scss */
.content .inside-images {
  margin-bottom: 150px;
}

/* line 124, ../../sass/img-positions/mobile.scss */
h1, h2, h3, h4 {
  font-family: "CombPro-normal", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
  font-size: 13px;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

/* line 129, ../../sass/img-positions/mobile.scss */
.text {
  margin-top: 80px;
  max-width: 500px;
}
/* line 132, ../../sass/img-positions/mobile.scss */
.text p {
  font-family: "Swiss-721","Helvetica-Neue", helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  line-height: 28px;
  width: 97%;
  margin-top: 0px;
  margin-bottom: 30px;
}
/* line 143, ../../sass/img-positions/mobile.scss */
.text ul {
  margin-left: 0px;
  padding-left: 0px;
}
/* line 147, ../../sass/img-positions/mobile.scss */
.text li, .text a {
  font-family: "CombPro-normal", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
  font-size: 13px;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
}

/* line 152, ../../sass/img-positions/mobile.scss */
.close, .nextandprev, .npfooter {
  opacity: 0;
}

/* line 156, ../../sass/img-positions/mobile.scss */
.purchasing {
  margin-left: 20px;
}

/* line 160, ../../sass/img-positions/mobile.scss */
#logo {
  position: fixed;
  top: 20px;
}

/* line 165, ../../sass/img-positions/mobile.scss */
#pages {
  display: none;
}

/* line 169, ../../sass/img-positions/mobile.scss */
.imglink {
  display: none;
}

/* line 173, ../../sass/img-positions/mobile.scss */
img {
  width: 100%;
  height: auto;
}

/* line 180, ../../sass/img-positions/mobile.scss */
.nav-button {
  padding: 6px;
  position: fixed;
  right: 4.5%;
  top: 16px;
  height: 19px;
  width: 22px;
  z-index: 9999;
}

/* line 191, ../../sass/img-positions/mobile.scss */
nav {
  position: fixed;
  top: 62px;
  width: 105%;
  margin-left: -5%;
  padding: 20px 5% 10px 5%;
  height: 140px;
  background: rgba(255, 255, 255, 0.9);
}
/* line 199, ../../sass/img-positions/mobile.scss */
nav ul {
  margin-left: 0px;
  padding-left: 0px;
}
/* line 202, ../../sass/img-positions/mobile.scss */
nav ul.menu {
  opacity: 0;
}
/* line 205, ../../sass/img-positions/mobile.scss */
nav ul li {
  margin-bottom: 10px;
}
/* line 207, ../../sass/img-positions/mobile.scss */
nav ul li a {
  font-size: 90%;
}

/* line 215, ../../sass/img-positions/mobile.scss */
.home-images img {
  display: none;
}
/* line 226, ../../sass/img-positions/mobile.scss */
.home-images .lamp-7 img, .home-images .chair-7 img, .home-images .table-5 img, .home-images .chair-5 img, .home-images .glasses-4 img, .home-images .watch-7 img, .home-images .lamp-1 img, .home-images .table-2 img, .home-images .glasses-7 img, .home-images .watch-2 img,
.home-images .collection img,
.home-images .chair img,
.home-images .table img,
.home-images .watch img,
.home-images .glasses img {
  display: block;
}

/* line 232, ../../sass/img-positions/mobile.scss */
div.images {
  position: relative;
  -webkit-transform: scale(1);
  margin-bottom: 30px;
}

@media all and (max-width: 400px) {
  /* line 239, ../../sass/img-positions/mobile.scss */
  .content {
    width: 93%;
  }
  /* line 241, ../../sass/img-positions/mobile.scss */
  .content p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 95%;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* line 251, ../../sass/img-positions/mobile.scss */
  .content .text p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 95%;
    margin-right: 10px;
  }
  /* line 259, ../../sass/img-positions/mobile.scss */
  .content .inside-images {
    margin-bottom: 80px;
  }
}
/* line 265, ../../sass/img-positions/mobile.scss */
.grey {
  color: #ccc;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
