/* line 3, ../../sass/img-positions/one.scss */
.one {
  top: 315px;
  left: 10%;
}

/* line 10, ../../sass/img-positions/one.scss */
.two {
  top: 800px;
  left: 50%;
}

/* line 17, ../../sass/img-positions/one.scss */
.three {
  top: 1400px;
  left: 60%;
}

/* line 24, ../../sass/img-positions/one.scss */
.four {
  top: 2000px;
  left: 0%;
}

/* line 31, ../../sass/img-positions/one.scss */
.five {
  top: 2800px;
  left: 40%;
}
