// Image positions 


.container {

 img { display:none; }

}

.one, .lamp-03, .table-03, .chair-03, .glasses-01, .watch-01 { 

	img {
		display:block; 
	}

}
	

.family-02 {
	// table 01
	margin-top:4400px;
	right:0%;
// right:;

}


// Chair items


.chair-01 {
	// chair 01 
	margin-top:800px;
	// left:0;
	right:0;

}

.chair-02 {
	// chair 02 
	margin-top:0;
	left:0;
// right:;

}

.chair-03 {
	// chair 03
	margin-top:2000px;
	// left:0;
right:10%;

}


// glasses items

.glasses-01 {
	// glasses 01
	margin-top:2600px;
	left:0;
// right:;

}

.glasses-02 {
	// glasses 02
	margin-top:0;
	left:0;
// right:;

}

.glasses-03 {
	// glasses 03
	margin-top:0;
	left:0;
// right:;

}

// Table items

.table-01 {
	// table 01
	margin-top:4200px;
	right:0%;
// right:;

}

.table-02 {
	// table 02
	margin-top:0;
	left:0;
// right:;

}

.table-03 {
	// table 03
	margin-top:1600px;
	left:10%;
// right:;

}


// Watch items

.watch-01 {
	//  watch 01
	margin-top:3000px;
	left:30%;
// right:;

}


.watch-02 {
	// watch 02
	margin-top:0;
	left:0;
// right:;

}

.watch-03 {
	//  watch 03
	margin-top:0;
	left:0;
// right:;

}

// Lamp items

.lamp-01 {
	// lamp 01
	margin-top:0;
	left:0;
// right:;


}

.lamp-02 {
	// lamp 02
	margin-top:0;
	left:0;
// right:;

}

.lamp-03 {
	// lamp 03
	margin-top:0px;
	left:15%;
// right:;

}





