// Image positions

.home-images {
  img {
    display: none;
  }
  //  .glasses-7, .watch-2
  .lamp-7, .chair-7, .table-5, .chair-5, .glasses-4, .watch-7, .lamp-1,  .table-2, .glasses-7, .watch-2 {
    img {
      display: block;
    }
  }
}

.lamp-7 {
  left: 15%;
}

.chair-7 {
  right: 0%;
  top: 800px;
}

.table-5 {
  left: 10%;
  top: 1800px;
}

.chair-5 {
  left: 65%;
  top: 2200px;
}

.glasses-4 {
  left: 0%;
  top: 3200px;
}

.watch-7 {
  left: 33%;
  top: 3600px;
}

.lamp-1 {
  right: 0%;
  top: 4000px;
}

.table-2 {
  left: 0%;
  top: 5700px;
}

.glasses-7 {
  left: 60%;
  top: 6600px;
}

.watch-2 {
  left: 15%;
  top: 7000px;
}

// Smaller desktop

@media all and (max-width: 1300px) {
  .lamp-7 {
    left: 15%;
  }
  .chair-7 {
    left: 40%;
    top: 600px;
  }
  .table-5 {
    left: 10%;
    top: 1400px;
  }
  .chair-5 {
    left: 65%;
    top: 1600px;
  }
  .glasses-4 {
    left: 0%;
    top: 2200px;
  }
  .watch-7 {
    left: 33%;
    top: 2400px;
  }
  .lamp-1 {
    right: -20%;
    top: 2800px;
  }
  .table-2 {
    left: 0%;
    top: 4400px;
  }
  .glasses-7 {
    left: 60%;
    top: 5100px;
  }
  .watch-2 {
    left: 15%;
    top: 5400px;
  }
}



@media all and (max-width: 800px) {

.lamp-7, .chair-7, .table-5, .chair-5, .glasses-4, .watch-7, .lamp-1,  .table-2, .glasses-7, .watch-2 {
  
  right:0px;
  top:0px;

}

  .home-images {
    .images {

      -webkit-transform-origin-x: 0;
      -webkit-transform-origin-y: 0;
      -webkit-transform: scale(0.4);
    
    }
  }

  .lamp-7 {
  
  }
  .chair-7 {
 
    top: 430px;
  }
  .table-5 {
    top: 750px;
  }
  .chair-5 {
   
    top: 1030px;
  }
  .glasses-4 {
  
    top: 1350px;
  }
  .watch-7 {
    top: 1630px;
  }
  .lamp-1 {
    top: 2030px;
  }
  .table-2 {
    top: 2310px;
  }
  .glasses-7 {
    
    top: 2670px;
  }
  .watch-2 {
  
    top: 2900px;
  }
}






