// Image positions 

.one {
	top: 800px;
	left: 50%;

	}


.two {

	top: 500px;
	left: 80%;

	}


.three {
	top: 1400px;
	left: 60%;

	}


.four {
	top: 2000px;
	left: 0%;

	}
 

.five {
	top: 2800px;
	left: 40%;

	}

 
