// Image positions

.home-images {
  img {
    display: none;
  }
  .glasses-2, .watch-1, .chair-4, .lamp-3,
  .chair-2, .table-3, .glasses-1, .watch-7 {
    img {
      display: block;
    }
  }
}

.watch-1 {
  right: 0%;
}

.lamp-3 {
  left: 55%;
  top: 900px;
  z-index: 200 !important;
}

.glasses-2 {
  left: 0%;
  top: 1400px;
}

.chair-4 {
  left: 30%;
  top: 2300px;
  z-index: 0;
}

.table-3 {
  left: 0%;
  top: 3400px;
}

.chair-2 {
  right: 5%;
  top: 4200px;
}

.glasses-1 {
  left: 5%;
  top: 4800px;
}

.watch-7 {
  left: 55%;
  top: 5800px;
}


@media all and (max-width: 1300px) { 


.watch-1 {
  right: 0%;
}

.lamp-3 {
  left: 55%;
  top: 700px;
  z-index: 200 !important;
}

.glasses-2 {
  left: 0%;
  top: 1200px;
}

.chair-4 {
  left: 30%;
  top: 1700px;
  z-index: 0;
}

.table-3 {
  left: 0%;
  top: 2400px;
}

.chair-2 {
  left: 45%;
  top: 3400px;
}

.glasses-1 {
  left: 5%;
  top: 3600px;
}

.watch-7 {
  left: 55%;
  top: 4300px;
}



  body.home {

      height: 6000px;

 
  }




}  