// Image positions

.home-images {
  img {
    display: none;
  }
  .table-2, .table-5, .chair-1, .glasses-3, .watch-4, .lamp-4, .collection-4, .chair-5, .table-4 {
    img {
      display: block;
    }
  }
}

.table-2 {
  left: 0%;
}

.table-5 {
  right: 0%;
  top: 900px;
}

.chair-1 {
	left:25%;
	top:1600px;
}

.glasses-3 {
	left:15%;
	top:2600px;
}

.watch-4 {
	left:40%;
	top:3400px;
}


.lamp-4 {

left:15%;
top:4500px;

}

.collection-4 {
left:0%;
top:5000px;
}

.chair-5 {
left:55%;
top:5600px;
}

.table-4 {
left:15%;
top:7200px;
}




@media all and (max-width: 1300px) { 

.table-2 {
  left: 0%;
}

.table-5 {
  right: -20%;
  top: 700px;
}

.chair-1 {
  left:25%;
  top:1400px;
}

.glasses-3 {
  left:15%;
  top:2200px;
}

.watch-4 {
  left:40%;
  top:2900px;
}


.lamp-4 {

left:15%;
top:3600px;

}

.collection-4 {
left:0%;
top:3900px;
}

.chair-5 {
left:55%;
top:4600px;
}

.table-4 {
left:15%;
top:5600px;
}


  body.home {

      height: 7000px;
    // background-color: aqua;
 
  }




}