// Image positions 

.one {
margin-top: 800px;
	left: 50%;

	}


.two {

margin-top: 500px;
	left: 80%;

	}


.three {
margin-top: 1400px;
	left: 60%;

	}


.four {
margin-top: 2000px;
	left: 0%;

	}
 

.five {
margin-top: 2800px;
	left: 40%;

	}

 
