// Image positions 

.one {
	top: 315px;
	left: 10%;

	}



.two {
	top: 430px;
	left: 50%;

	}



.three {
	top: 650px;
	left: 20%;

	}



.four {
	top: 860px;
	left: 15%;

	}

 

.five {
	top: 980px;
	left: 60%;

	}

 

.six {
	top: 1080px;
	left: 40%;
	}
